/*====  RESET ============================ */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}



/*====  VARIABLES ============================ */
:root {
  /* --header-height: 4.5rem; */
--body-color:#000000;
--title-color:#FBFCFF;
--gren-color01:#3BD962;
--gren-color02:#36BF58;
--gren-color03:#A7F294;

  /* fonts */
  --title-font-size: 1rem;
  --subtitle-font-size: .5rem;

  --title-font: 'Poppins', sans-serif;
  --body-font: 'DM Sans', sans-serif;
}

/*===  BASE ============================ */
html {
  scroll-behavior: smooth;
}

body {
  font: 400 1rem var(--body-font);
  color: var(--text-color);
  background: var(--body-color);
  -webkit-font-smoothing: antialiased;
}

.title {
  font: 700 var(--title-font-size) var(--title-font);
  color: var(--title-color);
  -webkit-font-smoothing: auto;
}

.sub-title{
  font: 700 var(--title-font-size) var(--title-font);
  color: var(--title-color);
  -webkit-font-smoothing: auto;
}
.paragraph{
  color: rgba(255, 255, 255, 0.586);
  font-weight: 400;
  font-size: 0.9em;
  font-weight: 18px;
  font-style: bold;
}


.button {
  background-color: var(--base-color);
  color: var(--text-color-light);
  height: 3.5rem;
  display: inline-flex;
  align-items: center;
  padding: 0 2rem;
  border-radius: 0.25rem;
  font: 500 1rem var(--body-font);
  transition: background 0.3s;
}

.button:hover {
  background: var(--base-color-alt);
}
.divider-0{
  height: 0.0625rem;
  background: linear-gradient(
    300deg,
    rgb(0, 0, 0),
    hsla(0, 0%, 0%, 0.34)
    
  );
 

}
.divider-1 {
  height: 0.0625rem;
  background: linear-gradient(
    300deg,
   hsla(5, 35%, 93%, 0.34),
    hsla(100, 36%, 57%, 1)
   
  );
  margin-bottom: 1.25rem;

}

.divider-2 {
  height: 0.0625rem;
  background: linear-gradient(
    270deg,
    hsla(100, 36%, 57%, 1),
    hsla(5, 48%, 95%, 0.34)
  );
  margin-bottom: 1.25rem;
}
.divider-left{
  width: 2rem;
  height: 2px;
  background: var(--gren-color01);
  border-radius: 4rem;
}

.divider-right{
  width: 2rem;
  height: 2px;
  background: var(--gren-color01);
  border-radius: 4rem;
  margin: 0;
  padding: 0;
}
/*====  LAYOUT ============================ */
.container {
  margin-left: 1.5rem;
  margin-right: 1.5rem;
}

.grid {
  display: grid;
  gap: 2rem;
}

.section {
  padding: calc(5rem + var(--header-height)) 0;
}

.section .title {
  margin-bottom: 1rem;
}

.section .subtitle {
  font-size: var(--subtitle-font-size);
}

.section header {
  margin-bottom: 4rem;
}

.section header strong {
  color: var(--base-color);
}

#header {
  border-bottom: 1px solid #e4e4e4;
  margin-bottom: 2rem;
  display: flex;


  top: 0;
  left: 0;
  z-index: 100;
  background-color: var(--body-color);
  width: 100%;
}

#header.scroll {
  box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.15);
}

/*====  LOGO ============================ */




/*====  NAVIGATION ============================ */
nav {
  height: var(--header-height);
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

nav ul li {
  text-align: center;
  color: #36BF58;
}

nav ul li a {
  color: #36BF58;
  transition: color 0.2s;
  position: relative;
}

nav ul li a:hover,
nav ul li a.active {
  color: var(--gren-color01);
}

nav ul li a::after {
  content: '';
  width: 0%;
  height: 2px;
  background: var(--gren-color01);

  position: absolute;
  left: 0;
  bottom: -1.5rem;

  transition: width 0.2s;
}

nav ul li a:hover::after,
nav ul li a.active::after {
  width: 100%;
}

nav .menu {
  z-index: 2;
  opacity: 0;
  visibility: hidden;
  top: -20rem;
  transition: 0.2s;
}

nav .menu ul {
  display: none;
}

/* Mostrar menu */
nav.show .menu {
  opacity: 1;
  visibility: visible;

  background: #000000;

  height: 100vh;
  width: 100vw;

  position: fixed;
  top: 0;
  left: 0;

  display: grid;
  place-content: center;
}

nav.show .menu ul {
  display: grid;
}

nav.show ul.grid {
  gap: 4rem;
}

/* toggle menu */
.toggle {
  z-index: 3;
  color: var(--gren-color01);
  font-size: 1.5rem;
  cursor: pointer;
}

nav .icon-close {
  visibility: hidden;
  opacity: 0;

  position: absolute;
  top: -1.5rem;
  right: 1.5rem;

  transition: 0.2s;
}
nav.show div.icon-menu{
  display: none;
}

nav.show div.icon-close {
  visibility: visible;
  opacity: 1;
  top: 3.300rem;
}

/*====  HOME ============================ */
nav img{
  width: 14rem;

}
.modal1{
  margin-top: 10.4375rem;
}

/* HISTORIA */
.historia{
  margin-top: 100px;
}
.story{
  display: flex;
  justify-content: space-around;

  margin: 0;
  padding: 0;
  position: relative;

  margin-bottom: 2.8125rem;
}

.story  h1{
position: absolute;
top: -10px;
color: rgba(255, 255, 255, 0.519);

}
.historia ul li{
  margin-bottom: 6.25rem;
}

.historia .circle img{
width: 2.5rem;
height: 2.5rem;
display: block;
margin-left: auto;
margin-right: auto;
margin-bottom: 1rem;

  
}
.historia .visao img{
  width: 3rem;
  height: 3rem;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 1rem;
  
    
  }
.historia ul li h2 {
text-align: center;
margin-bottom: 1rem;
  
}








@media (min-width: 1200px) {


  :root {
    /* --header-height: 4.5rem; */
  --body-color:#000000;
  --title-color:#FBFCFF;
  --gren-color01:#3BD962;
  --gren-color02:#36BF58;
  --gren-color03:#A7F294;
  }


  .container {
    max-width: 1120px;
    margin-left: auto;
    margin-right: auto;
  }

  .section {
    padding: 10rem 0;
  }


.modal1{
  margin-top: 10.4375rem;
}



nav img{
  width: 14rem;

}
nav .menu {
  opacity: 1;
  visibility: visible;
  top: 0;
}

nav .menu ul {
  display: flex;
  gap: 2rem;
}

nav .menu ul li a.title {
  font: 400 1rem var(--gren-color01);
  -webkit-font-smoothing: antialiased;
}

nav .menu ul li a.title.active {
  font-weight: bold;
  -webkit-font-smoothing: auto;
}

nav .icon-menu {
  display: none;
}

main {
  margin-top: var(--header-height);
}






}

